<!DOCTYPE html>
<html>
    <head>
       <title>Vue app week 5</title>
       
       <script src="./js/vue.js"></script>
       <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div class="container">
            <div class="Header">
                <h1>Week 5 Tasks</h1>
            </div>
            <div class="Sidebar">
                <h1>Task 3</h1>
                <div id="searchapp">
                    <div class="search">
                    <label>Search title:</label>
                      <input type="text" v-model="search" placeholder="Search for a SDK"/>   
                    </div>
                    <div class="wrapper">
                      <div class="card" v-for="post in filteredList">
                        <a v-bind:href="post.link" target="_blank">
                          <img v-bind:src="post.img"/>
                          <small>posted by: {{ post.author }}</small>
                          {{ post.title }}
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="Main-content">
                <h1>Task 1 Learning components</h1>
                <div id="app">
                    <p> {{ message }} </p>
                    <p v-bind:title="message">Click me</p>
                    <ol>
                        <li v-for="sth in todos">{{sth.text}}</li>
                    </ol>
                    <ol>
                        <to-do 
                        v-for="sth in todos"
                        v-bind:todo = "sth.text">
                    </to-do>
                    </ol>
                    <p><button v-on:click="increase">increase </button> {{count}}</p>
                    <p><counter
                        v-for="sth in todos"
                        v-bind:info="sth.text"></counter>		
                    </p>
                    <div v-bind:style="{ fontSize: postFontSize + 'em' }">
                        <blog-post
                            v-for="post in posts"
                            v-bind:post= "post"
                            v-on:shrink-text = "postFontSize -= 0.1"
                        ></blog-post>
                    </div>
                </div>
            </div>
            <div class="rightbar">
                <div class="data">
                    <h1>Task 2</h1>
                    <form id="senddata" action="https://www.google.com" method="post" target="_blank" @submit.prevent="processform">
                        <label for="fname">First name:</label>
                        <input type="text" id="fname" name="fname" v-model="fname"><br><br>
                    
                        <label for="lname">Last name:</label>
                        <input type="text" id="lname" name="lname" v-model="lname"><br><br>

                        <label for="activatelights">Activate lights:</label>
                        <input type="checkbox" id="activatelights" value="true" v-model="check" >
                        {{check ? "On" : "Off"}}

                        <label for="triggerheater">Activate Heater:</label>
                        <input type="checkbox" id="triggerheater" value="true"  v-model="checked">
                        {{checked ? "On" : "Off"}}

                        <label for="triggeraircon">Activate Aircon:</label>
                        <input type="checkbox" id="triggeraircon" value="true" v-model="checkers">
                        {{checkers ? "On" : "Off"}}
                        <br><br>
                        <input type="submit" value="Submit">

                    </form>
                    <p>Click on the submit button to process your request.</p>
                </div>
            </div>
        </div>
        
    </body>
    <script src="app.js"></script>
    <script>
        Vue.component("blog-post",{
            props:["post"],
            template: '<div><h1>{{post.title}}</h1><h6>{{post.id}}</h6><button v-on:click="$emit(\'shrink-text\')">Shrink Text</button></div>' ,
        })

        Vue.component("to-do",{
            props:["todo"],
            template: "<li> {{todo}}</li>",

        })

        Vue.component("counter",{
            props:["info"],
	        template: "<button v-on:click='counter ++;pointer --'>{{counter}} {{info}} {{pointer}}</button>",
                data: function(){
                    return {
                        counter: 0,
                        pointer: 0,
                    }
                }
        })


        var app = new Vue({
            el:"#app",
            data: {
                message: "this is a test",
                title: "this is a title",
                todos:[
                    {key: 1, text:"help me"},
                    {key: 2, text:"now"},
                    {key: 3, text:"please"}

                ],
                count: 0,
                posts: [
                    {id: 1, title: "hello how are you"},
                    {id: 2, title: "thanks you too"},
                    {id: 3, title: "cya"},
                ],
                postFontSize:1,
            },
            methods: {
                increase: function(){
                    this.count+=1;
                },
                decrease: function(){
			        this.count= this.count -1;
		        },
            }
        })
    </script>
</html>